<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p><%= @question %></p>
<p> - YOU</p>
<p><%= @answer %></p>
<p> - YOUR COACH</p>
<hr>
<hr>
<a href="http://localhost:3000/ask">Ask a new question</a>
